*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --color-text: #242222;
  --color-bg: #ffffff;
  --color-link: #000000;
  --color-link-hover: #000000;
}

body {
  position: relative;
  color: var(--color-text);
  background-color: var(--color-bg);
  overflow: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  color: var(--color-link);
  outline: none;
}

a:hover,
a:focus {
  color: var(--color-link-hover);
  outline: none;
}

.home-page {
  position: relative;
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}
